/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');
*{
    margin: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/* header */
/* Navbar */
header{
    background: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    color: #131313;
    font-size: 24px;
    height: 94px; 
    /* width: 1440px; */
}
.logo{
    display: flex;
    align-items: center;
    font-size: 45px;
    font-weight: 700;
    margin-left: 160px;
}
.links{
    display: flex;
    align-items: center;
    /* padding-right: 200px; */
    padding-right: 100px;
}
.links a{
    text-decoration: none;
    margin-left: 35px;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* Banner */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
}
.brand-intro{
    display: flex;
    flex-direction: column;
    width: 862px;
    height: 225px;
    margin: 0 auto;
    margin-top: 30px;

}
.brand-title{
    font-size: 64px;
    font-weight: 700;
    padding-left: 100px;
    margin-bottom: 30px;
    text-align: center;
 
}
/* .span1, .span2{
    padding-left: 150px;
} */
.brand-desc{
    font-Weight: 400;
    font-Size: 16px;
    color: #727272;
    text-align: center;
}
.btn{
    width: 180px;
    height: 64px;
    padding: 20px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-top: 32px;
    margin-bottom: 32px;

}
.banner img{
    width: 1100px;
    height: 500px;
    margin-bottom: 45px;
}
/* features */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 40px; */
    
}
.feature{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 1318px;
    height: 708px;
    margin: 66px 50px 45px 101px;
}
.feature-img img{
    width: 342px;
    height: 342px;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 30px;
}
.feature-info{
    width: 537px;
    height: 304px;
    text-align: left;
}
.feature-title{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 24px;
}
.span1{
    color: #727272;
}
.span2{
    color: #131313;
    font-weight: bolder;
 
}
.span3{
    color:#FF900E;
}
.feature-desc{
    color:#727272;
    font-size: 16px;
    font-weight: 400;

}

/* feature list */
.container2{
    /* width: 1440px; */
    padding: 50px;
}
.feature-list{
    padding-left: 130px;
    
}
.feature-list .feature-title{
    font-weight: 700;
    font-size: 45px;
    border-left: 4px solid #FF900E;
}
.feature-list .desc{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    
}
.side-img img{
    width: 600px;
    height: 1059px;
    padding-right: 150px;
    padding-left: 50px;
    /* position: relative; */
}
.box{
    margin-top: 30px;
    box-shadow: 18px 24px 108px -15px rgba(0,0,0,0.15);
    padding: 30px;
}
.box-title{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.box-desc{
    color: #727272;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
}
.side-img{
    position: relative;
}
.btn-2{
    position: absolute;
    width:258px;
    height: 120px;
    left: 30px;
    /* bottom: 35px; */
    top:950px;
}
.btn-2 .button-title{
    font-size: 45px;
    font-weight: 700;
}
.btn-2 .button-title-2{
    font-weight: 500;
font-size: 25px;
}

/* card */
.facts{
    margin-top: 150px;
}
.facts .feature-title, .fact-desc{
    margin-left: 150px;

}
.facts .feature-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.facts .fact-desc{
    color:#727272;
    font-size: 16px;
    font-weight: 400;
}
.cards{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}
.card{
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    border-radius: 8px;
}
.card:hover{
    border: 2px solid red;
    background: #e7e5e5c0;
    transform: scale(1.1);
}
.card-title{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}
.card-text{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* Sponsor */
.sponsor-info{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 120px;
    margin-bottom: 100px;
    text-align: center;
}
.sponsor-title{
    font-weight: 700;
}
.sponsor-info p{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}
.sponsor-box{
    display: flex;
    align-items: center;
}
.logo-sponsor{
    width: 135.83px;
    height: 50px;
    margin-left: 110px;
}


/* Contact us */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.con-title{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 80px;
    font-weight: 300;
    font-size: 35px;
}
.contact-us{
    display: flex;
    justify-content: space-around;
    border: 2px solid salmon;
    width:1000px;
    
}
.left{
    border-right: 1px dashed salmon;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #fd8282;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 50px;

}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 50px;
    font-size: 25px;
    font-weight: 600;
}
.right input{
    width: 280px;
    height:30px;
    margin-bottom: 10px;
}
input:focus{
    color: #fd8282;;
}

/* Footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 144, 14, 0.1);
    margin-top: 150px;
    width: 1200px;
    height: 80px;
    margin-bottom: 50px;
    
}
.footer-text{
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}

/* Responsive */
@media screen and (max-width:576px) {
    body{
        width: 100%;
    }
    header{
        width: 1250px;
    }
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .links, .logo, .cards, .sponsor-box, .contact-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        
    }
    .brand-intro{
        margin: 0;
    }
    .banner-img{
       display: flex;
       justify-content: center;
    }
    .feature{
        flex-direction: column;
    }
    .feature-img{
        grid-template-columns: repeat(1, 1fr);
    }
}